In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
# Config plt.
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
plt.style.use('ggplot')
rcParams['figure.figsize'] = 8, 5

# Ignore warnings.
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('../data/cleaned_data.csv')

In [5]:
df.shape

(10462, 11)

# Flights Price Machine Learning
## Description
Flight tickets price prediction using different machine learning models such as K-nearest neighbor, decision tree & linear model.
## Data
The dataset contains flight tickets price from different airline companies along with other features such as the flight destination, and duration.
| Feature        |  Description                                       |
|   :---:        |     :---:                                          |
| Price(target)  | The price of the ticket.                           |
| Airline        | The airline name.                                  |
| Source         | The source from which the service begins.          |
| Destination    | The destination where the service ends.            |
| Dep_Time       | The time when the journey starts from the source.  |
| Arrival_Time   | The arrival time at the destination.               |
| Duration       | The total flight duration.                         |
| Total_Stops    | The total stops between the source and destination.|
| Additional_Info| Any additional information about the flight.       |
|Date_of_Journey | The date of the journey.                           |
|Route           | The route taken by the flight to reach the destination.|

<br>

| Number of Entries |  Number of Features  |
|   :---:           |     :---:            |
|   10683           |           11         |

### Data Cleaning

- Extracted Year, Month, Day form "Date_of_Juourney"
- Dropped "year" since its value is the same for all entires
- Dropped "date_of_journey"
- Converted "Duration" to seconds
- Modified "additional_info" value "No Info" to "No info"
- Dropped messing values
- Dropped duplicated entries (kept one)
- Converted "total_stops" from string to numeric
- Categorize "dep_time"and "arrival_time" (i.e. "mid_night", "moring:, "afternoon", "evening")
- Dropped "route" since we will be using "total_stops"

In [7]:
# Show a smaple of the cleaned dataset.
df.sample(2)

,airline,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price,month,day
2556,IndiGo,Kolkata,Banglore,afternoon,afternoon,9000,0,No info,4804,4,27
4275,IndiGo,Delhi,Cochin,mid_night,afternoon,25500,1,No info,6818,5,15